body {
    width: 45%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.b {
    border: 5px solid red;
    text-align: left;
}

.m {
    margin: 0px 90px;
}

#wh {
    width: 500px;
    height: 300px;
}

#whnorm {
    border: 2px solid orange;
}

#whpx {
    width: 250px;
    height: 45px;
    border: 2px solid blue;
}

#wh\% {
    width: 50%;
    height: 15%;
    border: 2px solid green;
}

#whem {
    width: 10em;
    height: 5em;
    border: 2px solid purple;
}

#mmwh {
    min-width: 500px;
    min-height: 100px;
    max-width: 500px;
    max-height: 100px;
}

#oflo {
    width: 500px;
    height: 100px;
    overflow: scroll;
}

.bw {
    border-width: 10px 2px 10px 2px;
}

.bs {
    border-style: dashed;
}

.bc {
    border-color: green blue red purple;
}

.bshrt {
    border: 10px double green;
}

.p1 {
    padding: 0px;
    margin-bottom: 25px;
}

.p2 {
    padding: 25px;
    margin: 0px 90px;
}

.m1 {
    margin: 0px 125px;
}

.m2 {
    margin-top: 0px;
}

#div1 {
    width: 500px;
    border: 5px solid red;
    margin: 0 auto 0 auto;
}

#div2 {
    width: 400px;
    border: 5px solid red;
    margin: 25px auto 25px auto;
}

#div3 {
    width: 300px;
    border: 5px solid red;
    margin: 25px auto 25px auto;
}

.pcc {
    width: 200px;
    border: 5px solid red;
    margin: 25px auto 25px auto;
}

.ul-inline {
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
.inline {
    display: inline;
    padding-right: 30px;
    padding-left: 30px;
}

#v {
    visibility: hidden;
}

#bimg {
    border-width: 100px;
    border-style: solid;
    border-image: url("../images/Google-Noto-Emoji-Activities-52733-basketball.ico") 50 50 50 50 stretch;
}

.bshad {
    box-shadow: 0px 0px 10px black;
}

.brad {
    padding: 20px;
    border-radius: 25px;
}

.bradw {
    margin-top: 25px;
    padding: 15px;
    border-radius: 100px 20px 100px 20px / 50px 100px 50px 100px;
}
