.home, .home > a {
    width: 100px;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 0 0 0;
    text-align: center;
    background-color: darkgray;
    text-decoration: none;
    color: blue;
    font-weight: bolder;
    font-size: x-large;
}